<!DOCTYPE HTML>
<html>
  <head>
    <title>Civic Si Blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/styles.css" />
  </head>
    <body>
      <!-- Semantic UI Menu -->
      <nav>
        <div class="ui inverted fixed segment">
          <div class="ui inverted secondary pointing menu">
            <a href="/" class="active item">
              Home
            </a>
            <a href="/blogs/new" class="item">
              New Blog
            </a>
          </div>
        </div>
      </nav>
